@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

body {
  color: white;
}

.font-larger {
  font-size: larger;
}

.icon-fix {
  font-size: smaller;
  vertical-align: top;
}

.card-grid {
  width: 100%;
  display: grid;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.adaptive-text-container {
  container-type: inline-size;
}

.adaptive-text {
  font-size: 0.425rem;
  line-height: 100%;
  text-align: center;
}
@container (min-width: 55px) {
  .adaptive-text {
    font-size: 0.5rem !important;
    line-height: 100%;
  }
}
@container (min-width: 70px) {
  .adaptive-text {
    font-size: 0.6rem !important;
    line-height: 110%;
  }
}
@container (min-width: 85px) {
  .adaptive-text {
    font-size: 0.65rem !important;
    line-height: 110%;
  }
}
@container (min-width: 95px) {
  .adaptive-text {
    font-size: 0.7rem !important;
    line-height: 110%;
  }
}
@container (min-width: 105px) {
  .adaptive-text {
    font-size: 0.775rem !important;
    line-height: 120%;
  }
}
@container (min-width: 115px) {
  .adaptive-text {
    font-size: 0.85rem !important;
    line-height: 120%;
  }
}
@container (min-width: 130px) {
  .adaptive-text {
    font-size: 0.925rem !important;
    line-height: 120%;
  }
}
@container (min-width: 140px) {
  .adaptive-text {
    font-size: 1rem !important;
    line-height: 120%;
  }
}
@container (min-width: 150px) {
  .adaptive-text {
    font-size: 1.2rem !important;
    line-height: 120%;
  }
}
